# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.depends*


doc/*
src/config.h*

*.pyc

anafits_*

convertGraph
convertSeq

.deps

Makefile
Makefile.in
autom4te.cache

aclocal.m4
config.log*

depcomp

install-sh
lib/gtest/
lib/judy-1.0.5/
paper
bmc-paper

autoscan.log
