.#*
*.[oa]
*~
.nfs*
\#*#
*.gz
*.zip
RandomExample
tempRandom.dat
tempRandom.txt
RandomShort
RandomTest
Debug
Random.ncb
Random.suo
Release
RandomNew
html
latex
GapTest
GapTestN
RandomTime
RandomPermutation
shuffle
ReleaseSSE2
BUILD*
CMakeFiles
Makefile
*.time
*.xml
*.bin
distrib
TAGS
scratch
mpfr
